* {
    margin: 0%;
}

html {
    background-color: rgb(84, 74, 87);
    background: linear-gradient(to top, rgb(93, 75, 102), rgb(46, 26, 55));
    height: 100%;
    font-family: 'Archivo Black';
}

/* HEADER */
header {
    text-align: center;
    margin: 5%;
}

#title {
    font-size: 4rem;
    color: rgb(201, 185, 211);
}

#info {
    font-size: 1.5rem;
    color: rgb(146, 110, 169);

}

/* MAIN - DISPLAYS */

main {
    margin: 5%;
    text-align: center;
}

form {
    margin: 5%;
}

label {
    margin: 1%;
    color: rgb(201, 185, 211);
}
input {
    margin: 2%;
    border-radius: 10px;
    width: 32%;
}

/* RECIPE DISPLAY */
.recipe-form-container {
    margin: 5%;
    background-color: rgba(146, 110, 169, 0.134);
    border-radius: 10px;
    padding: 1%;
}

.recipe-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    background-color: rgba(220, 191, 237, 0.456);
    color: rgb(42, 37, 46);
    border-radius: 10px;
    padding: 3%;
}

#recipe-submit-btn,
#refresh-recipe-btn {
    font-family: 'Archivo Black';
    background-color: rgba(156, 75, 203, 0.51);
    color: rgba(201, 185, 211, 0.997);
    border: none;
    border-radius: 10px;
    padding: 1.5%;
}

/* MOVIE DISPLAY */
.movie-form-container {
    margin: 5%;
    background-color: rgba(146, 110, 169, 0.134);
    border-radius: 10px;
    padding: 1%;
}

.movie-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: rgba(220, 191, 237, 0.456);
    color: rgb(42, 37, 46);
    border-radius: 10px;
    padding: 3%;
}

#genre-submit-btn,
#refresh-movie-btn {
    font-family: 'Archivo Black';
    background-color: rgba(156, 75, 203, 0.51);
    color: rgba(201, 185, 211, 0.997);
    border: none;
    border-radius: 10px;
    padding: 1.5%;
}