/* UNIVERSAL - MAIN */
* {
    margin: 0%;
}

body {
    background-color: rgb(84, 74, 87);
    background: linear-gradient(to top, rgb(86, 65, 97), rgb(46, 26, 55));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 125vh;
    font-family: 'Archivo Black';
}

/* HEADER */
.header-container {
    justify-content: center;
    text-align: center;
    margin: 5%;
}

#title {
    font-size: 4rem;
    color: rgb(201, 185, 211);
}

#info {
    font-size: 2rem;
    color: rgb(146, 110, 169);
}

#description {
    font-size: 1.4rem;
    color: rgba(201, 185, 211, 0.7);
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

/* MAIN - DISPLAYS */
main {
    margin: 5%;
    text-align: center;
}

form {
    margin: 5%;
}

label {
    margin: 1%;
    color: rgb(201, 185, 211);
    font-size: 2rem;
}

input {
    margin: 2%;
    border-radius: 25px;
    width: 32%;
    text-align: center;
    background-color: rgb(234, 208, 250);
    font-size: 1rem;
}

/* BUTTONS */
#recipe-submit-btn:hover,
#refresh-recipe-btn:hover,
#genre-submit-btn:hover,
#refresh-movie-btn:hover {
    background-color: rgba(200, 143, 233, 0.563);
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    transition: 100ms;
}

/* RECIPE DISPLAY */
.recipe-form-container {
    margin: 5%;
    background-color: rgba(146, 110, 169, 0.134);
    border-radius: 50px;
    padding: 1%;
}

.recipe-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    background-color: rgba(220, 191, 237, 0.456);
    color: rgb(52, 45, 54);
    border-radius: 10px;
    padding: 3%;
    text-align: center;
}

#recipe-submit-btn,
#refresh-recipe-btn {
    font-family: 'Archivo Black';
    background-color: rgba(156, 75, 203, 0.51);
    color: rgba(201, 185, 211, 0.997);
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px rgba(201, 185, 211, 0.997);
    padding: 1.5%;
    margin: 2%;
}

/* MOVIE DISPLAY */
.movie-form-container {
    margin: 5%;
    background-color: rgba(146, 110, 169, 0.134);
    border-radius: 50px;
    padding: 1%;
}

.movie-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: rgba(220, 191, 237, 0.456);
    color: rgb(42, 37, 46);
    border-radius: 10px;
    padding: 3%;
}

#genre-submit-btn,
#refresh-movie-btn {
    font-family: 'Archivo Black';
    background-color: rgba(156, 75, 203, 0.51);
    color: rgba(201, 185, 211, 0.997);
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px rgba(201, 185, 211, 0.997);
    padding: 1.5%;
    margin: 2%;
}

.movie-a {
    font-family: 'Archivo Black';
    text-align: center;
    color: rgb(52, 45, 54);
}

h2 {
    color: rgb(52, 45, 54);
}

img {
    margin-top: 3%;
}

li {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 3%;
}

li::marker {
    list-style: none;
}

ul {
    padding-left: 0%;
}

/* RESPONSIVENESS */

/* XXS */
@media (min-width: 300px) and (max-width: 400px){
    body {
        min-width: none;
    }
    #title {
        font-size: 2.8rem;
    }
    #info {
        font-size: .9rem;
    }
    #description {
        font-size: .7rem;
        margin-left: 12%;
        margin-right: 12%;
    }
    label {
        font-size: .9rem;
    }
    input {
        font-size: .7rem;
        width: 70%;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: .7rem;
    }
    .recipe-card,
    .movie-card {
        height: 100%;
        width: 100%;
    }
    h2 {
        font-size: 1rem;
    }
    img {
        height: 175px;
        justify-content: center;
    }
    li {
        font-size: .8rem;
    }
}

/* XS */
@media (min-width: 401px) and (max-width: 500px) {
    #title {
        font-size: 3.6rem;
    }
    #info {
        font-size: 1.18rem;
    }
    #description {
        font-size: .9rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    label {
        font-size: 1.18rem;
    }
    input {
        font-size: .9rem;
        width: 58%;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: .9rem;
    }
    .recipe-card,
    .movie-card {
        height: 100%;
        width: 100%;
    }
    h2 {
        font-size: 1.18rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: .9rem;
    }
}

/* S */
@media (min-width: 501px) and (max-width: 600px) {
    #title {
        font-size: 4.6rem;
    }
    #info {
        font-size: 1.5rem;
    }
    #description {
        font-size: 1.1rem;
        margin-left: 9.6%;
        margin-right: 9.6%;
    }
    label {
        font-size: 1.5rem;
    }
    input {
        font-size: 1rem;
        width: 50%;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1rem;
    }
    .recipe-card,
    .movie-card {
        height: 100%;
        width: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1rem;
    }
}

/* M */
@media (min-width: 601px) and (max-width: 700px) {
    #title {
        font-size: 4.6rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.5rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.2rem;
        margin-left: 16%;
        margin-right: 16%;
    }
    label {
        font-size: 1.5rem;
    }
    input {
        font-size: 1.1rem;
        width: 38%;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 1.6%;
    font-size: 1.1rem;
    }
    .recipe-card {
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    h2 {
        font-size: 1.5rem;
    }
    li {
        font-size: 1.1rem;
    }
}

/* M */
@media (min-width: 701px) and (max-width: 800px) {
    #title {
        font-size: 4.9rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.6rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.2rem;
        margin-left: 18%;
        margin-right: 18%;
    }
    label {
        font-size: 1.6rem;
    }
    input {
        font-size: 1.2rem;
        width: 38%;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 1.6%;
    font-size: 1.2rem;
    }
    .recipe-card {
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    img {
        height: 250px;
        justify-content: center;
    }
    h2 {
        font-size: 1.6rem;
    }
    li {
        font-size: 1.2rem;
    }
}

/* LG */
@media (min-width: 801px) and (max-width: 900px) {
    #title {
        font-size: 5rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.63rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.3rem;
        margin-left: 20%;
        margin-right: 20%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 1.59rem;
    }
    input {
        font-size: 1rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2.5%;
    font-size: 1rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.4rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1rem;
    }
}

/* XLG */
@media (min-width: 901px) and (max-width: 1000px) {
    #title {
        font-size: 5rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.63rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.2rem;
        margin-left: 24%;
        margin-right: 24%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 1.63rem;
    }
    input {
        font-size: 1rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2.5%;
    font-size: 1rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.3rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1rem;
    }
}

/* XLG */
@media (min-width: 1001px) and (max-width: 1100px) {
    #title {
        font-size: 6rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.95rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.3rem;
        margin-left: 23%;
        margin-right: 23%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 1.63rem;
    }
    input {
        font-size: 1rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2.5%;
    font-size: 1rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.3rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1rem;
    }
}

/* XLG */
@media (min-width: 1101px) and (max-width: 1250px) {
    #title {
        font-size: 6rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 1.95rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.3rem;
        margin-left: 25%;
        margin-right: 25%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 1.63rem;
    }
    input {
        font-size: 1rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2.5%;
    font-size: 1rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.3rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1rem;
    }
}

/* XXLG */
@media (min-width: 1251px) and (max-width: 1500px) {
    #title {
        font-size: 7rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 2.25rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.5rem;
        margin-left: 27%;
        margin-right: 27%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 1.5rem;
    }
    input {
        font-size: 1rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2%;
    font-size: 1rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.3rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1.1rem;
    }
}

/* XXLG */
@media (min-width: 1501px) and (max-width: 1650px) {
    #title {
        font-size: 7rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 2.27rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.5rem;
        margin-left: 28%;
        margin-right: 28%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 2rem;
    }
    input {
        font-size: 1.3rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2%;
    font-size: 1.3rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.8rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1.3rem;
    }
}

/* XXXLG */
@media (min-width: 1651px) and (max-width: 1800px) {
    #title {
        font-size: 7rem;
        color: rgb(201, 185, 211);
    }
    #info {
        font-size: 2.27rem;
        color: rgb(146, 110, 169);
    }
    #description {
        font-size: 1.65rem;
        margin-left: 30%;
        margin-right: 30%;
    }
    main {
        display: flex;
        margin-top: 0%;
    }
    .recipe-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;       
        width: 50%;
    }
    .movie-form-container {
        margin-top: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;
    }
    .recipe-container,
    .movie-container {
        margin-top: 0%;
    }
    .recipe-card,
    .movie-card {
        width: 100%;
    }
    label {
        font-size: 2rem;
    }
    input {
        font-size: 1.3rem;
        width: 40%;
        height: 25px;
    }
    #recipe-submit-btn,
    #refresh-recipe-btn,
    #genre-submit-btn,
    #refresh-movie-btn {
    padding: 2%;
    font-size: 1.3rem;
    margin-top: 1%;
    }
    h2 {
        font-size: 1.8rem;
    }
    img {
        height: 200px;
        justify-content: center;
    }
    li {
        font-size: 1.3rem;
    }
}